@using PL.MVC.Extensions
@model PL.Entities.Transport.Transport

@{
	var exists = Model != null;
	ViewBag.Title = (exists ? "Редактирование" : "Создание") + " транспорта";
}

<form asp-controller="@Url.GetController()" asp-action="Update" asp-antiforgery="true" method="post">
	<div class="row">
		<input type="hidden" asp-for="Id" />
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label asp-for="Title">Название</label>
				<input type="text" asp-for="Title" class="form-control" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label asp-for="Number">Номер</label>
				<input type="text" asp-for="Number" class="form-control" />
				<span asp-validation-for="Number" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label asp-for="Seats">Количество мест</label>
				<input type="number" asp-for="Seats" class="form-control" />
				<span asp-validation-for="Seats" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label>Перевозчик</label>
				<input asp-for="CarrierId" id="сarrierId" type="hidden" value="@Model.Carrier?.Id" />
				<input id="сarrierTitle" type="hidden" value="@Model.Carrier?.Title" />
				<select id="сarrierSelect"></select>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label>Водитель</label>
				<input asp-for="DriverId" id="driverId" type="hidden" value="@Model.Driver?.Id" />
				<input id="driverName" type="hidden" value="@Model.Driver?.FullName" />
				<select id="driverSelect"></select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<button class="btn btn-outline-primary" type="submit">@(exists ? "Сохранить" : "Добавить")</button>
			<a asp-controller="@Url.GetController()" asp-action="Index" class="btn btn-outline-secondary">Отмена</a>
		</div>
	</div>
</form>

@section Scripts {
	<script src="~/js/admin/selectizeHelper.js"></script>
	<script>		
	$(document).ready(() => {
	    initSelectize(
	        'сarrierSelect',
	        'сarrierId',
	        'id',
	        'title',
	        'title',
	        'Начните печатать...',
	        '/autocomplete/kontragents', {
	            id: $('#сarrierId').val(),
	            title: $('#сarrierTitle').val()
	        }, {
	            discriminator: 'carrier',
	            limit: 10
	        }
	    );
	    initSelectize(
	        'driverSelect',
	        'driverId',
	        'id',
	        'fullName',
	        'fullName',
	        'Начните печатать...',
	        '/autocomplete/drivers', {
	            id: $('#driverId').val(),
	            fullName: $('#driverName').val()
	        }, {
	            limit: 10
	        }
	    );
	});
	</script>
}