@using PL.MVC.Extensions
@using Common.Enums
@model PL.Entities.Order.Order

@{
    ViewBag.Title = "Создание заказа";
}

<form asp-controller="@Url.GetController()" asp-action="Update" asp-antiforgery="true" method="post">

            <div class="row">
                <label>Необязательные поля, если клиент есть</label>
            </div>
    <div class="row">

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label asp-for="ClientPhoneNumber">Клиент (Фамилия)</label>
                    <input type="text" value="@Model.ClientLastName" asp-for="ClientLastName" class="form-control"/>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label asp-for="ClientPhoneNumber">Клиент (Имя)</label>
                    <input type="text" value="@Model.ClientFirstName" asp-for="ClientFirstName" class="form-control"/>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label asp-for="ClientPhoneNumber">Клиент (Отчество)</label>
                    <input type="text" value="@Model.ClientPatronymic" asp-for="ClientPatronymic" class="form-control"/>
                    <span asp-validation-for="Client.User.Patronymic" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row"/>
    <input type="hidden" asp-for="Id" value="@Guid.Empty"/>
    <div class="col-md-4 col-sm-6">
        <div class="form-group">
            <label asp-for="TripId">Рейс: @Model.Trip.TripRoute.Title</label>
            <input readonly id="route-id-input" type="hidden" value="@Model.Trip.Id" asp-for="TripId" class="form-control"/>
            <span asp-validation-for="TripId" class="text-danger"></span>
        </div>
    </div>
    
    <div class="col-md-4 col-sm-6">
        <div class="form-group">
            <label asp-for="ClientPhoneNumber">Клиент (номер телефона)</label>
            <input type="text" value="@Model.ClientPhoneNumber" asp-for="ClientPhoneNumber" class="form-control"/>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="form-group">
            <label asp-for="StartTripRoutePointId">Начальная точка маршрута</label>
            <select id="start-route-point-select" asp-for="StartTripRoutePointId" class="form-control">
                @if (Model?.StartTripRoutePoint?.RoutePoint?.Title != null)
                {
                    <option value="@Model?.StartTripRoutePointId">
                        @Model?.StartTripRoutePoint?.RoutePoint?.Title
                    </option>
                }
            </select>
            <span asp-validation-for="StartTripRoutePointId" class="text-danger"></span>
        </div>
    </div>
    
    <div class="col-md-4 col-sm-6">
        <div class="form-group">
            <label asp-for="EndTripRoutePointId">Конечная точка маршрута</label>
            <select id="end-route-point-select" asp-for="EndTripRoutePointId" class="form-control">
                @if (Model?.StartTripRoutePoint?.RoutePoint?.Title != null)
                {
                    <option value="@Model?.EndTripRoutePointId">
                        @Model?.EndTripRoutePoint?.RoutePoint?.Title
                    </option>
                }
            </select>
            @* <input type="text" asp-for="EndTripRoutePointId" class="form-control"/> *@
            <span asp-validation-for="EndTripRoutePointId" class="text-danger"></span>
        </div>
    </div>
    
    <div class="col-md-4 col-sm-6">
        <div class="form-group">
            <label asp-for="AdultsCount">Количество взрослых</label>
            <input type="number" value="@Model?.AdultsCount" asp-for="AdultsCount" class="form-control"/>
            <span asp-validation-for="AdultsCount" class="text-danger"></span>
        </div>
    </div>
    
    <div class="col-md-4 col-sm-6">
        <div class="form-group">
            <label asp-for="ChildrenCount">Количество детей</label>
            <input type="number" value="@Model?.ChildrenCount" asp-for="ChildrenCount" class="form-control"/>
            <span asp-validation-for="ChildrenCount" class="text-danger"></span>
        </div>
    </div>
    
    <div class="col-md-4 col-sm-6">
        <div class="form-group">
            <input asp-for="CreationType" value="@OrderCreationType.Operator" type="hidden">
        </div>
    </div>
    
    <div class="col-md-4 col-sm-6">
        <div class="form-group">
            <input asp-for="CreationType" value="@OrderStatus.Booked" type="hidden">
        </div>
    </div>
    
    <div class="row">
    		<div class="col-md-12 text-center">
    			<button class="btn btn-outline-primary" type="submit">Добавить</button>
    			<a asp-controller="@Url.GetController()" asp-action="Index" class="btn btn-outline-secondary">Отмена</a>
    		</div>
    	</div>
</form>
       
@section Scripts
{
<script>
    window.onload = function() {
            loadRoutePoints();
        };
    function loadRoutePoints() {
       
        var routeId = document.getElementById('route-id-input').value;
        var url = 'GetPointsByTripId/' + routeId; // Replace with your API endpoint URL
        
        // Make an AJAX request to retrieve route points
        fetch(url)
            .then(response => response.json())
            .then(data => {
                
                var selectElement = document.getElementById('start-route-point-select');
                var selectElementEnd = document.getElementById('end-route-point-select');
                selectElement.innerHTML = ''; // Clear previous options
                selectElementEnd.innerHTML = '';
                
                // Loop through the route points and add options to the select element
                data.forEach(routePoint => {
                    var option = document.createElement('option');
                    option.value = routePoint.tripRoutePoint.id;
                    option.text = routePoint.tripRoutePoint.routePoint.title;
                    
                     var optionEnd = document.createElement('option');
                     optionEnd.value = routePoint.tripRoutePoint.id;
                     optionEnd.text = routePoint.tripRoutePoint.routePoint.title;
                   
                    selectElement.appendChild(option);
                    selectElementEnd.appendChild(optionEnd);
                });
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>
}
